@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype'),
       url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype'),
       url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.main_con {
  width: 60%;
}

aside{
  background: url(/assets/images/bg-sidebar-desktop.svg) no-repeat center/cover;
  height: 33.8rem;
  width: 12.8rem;
}

.bills div{
  height: 12rem;
}

.add_ons{
  display: grid;
  grid-template-columns:  3fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.add_ons input,
.add_ons div{
  justify-self: flex-start;
}

.add_ons h3{justify-self: end;}









