@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype'),
       url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype'),
       url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

body {
  font-family: 'Ubuntu', sans-serif;
}



aside{
  background: url(/assets/images/bg-sidebar-desktop.svg) no-repeat center/cover;
  height: 33.8rem;
  width: 12.8rem;
}

